.training{
     font-size: 30px;
      text-align: center;
}

.index {
    color: #D6FEE2;
    text-align: center;
    font-size: 30px;
}

.past{
    color: #D6FEE2;
    text-align: center;
    font-size: 30px;
}

